body{width:100%;overflow-x: hidden;}

.navarea{padding:20px 0;background-color:#c9c9c9;}

nav{justify-content: space-around;}

h1{text-align:center;}


.dashmods{
    padding-top:20px;
    margin-top:40px;
    border-top:4px solid #1698af;
}
.card{
    text-align:center;
    padding:10px;
    border:2px solid #fcae00 !important;
}

.cardlinks{color:#fff !important;}

.acf-form{text-align:left;}

.disclaimer p{font-style: italic;}

.downloadarea iframe{width:100%;min-height:400px;}
.downloadarea iframe body #header{display:none;}


footer{
    position:relative;
    top:600px;
    bottom:0;
    min-height:100px;
    background-color: #c9c9c9;
    width:100%;
}
